@model Wired.Razor.MvcSample.Models.FooterModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div style="float: left;">
        <h2>@Model.Name</h2>
    </div>
    <div style="float: right">
        Footer - Page @Model.PageNumber
    </div>
</body>
</html>

