@model Wired.Razor.MvcSample.Models.HeaderModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color: black; color: white;">
    <div style="float: left;">
        <h2>@Model.Name</h2>
        <div>(in the header!)</div>
    </div>
    <div style="float: right">
        Header - Page @Model.PageNumber
    </div>
</body>
</html>

